({:subject :bahasa-indonesia,
  :chapters
  [:teks-editorial
   :analisis-isi-novel
   :pengayaan-buku-fiksi-dan-non-fiksi
   :mengolah-informasi
   :karya-ilmiah
   :teks-prosedur-kompleks
   :laporan-hasil-observasi
   :persiapan-penilaian-akhir-semester--pas-
   :teks-ceramah
   :analisis-teks-eksplanasi
   :analisis-karya-ilmiah
   :surat-lamaran
   :teks-cerita-sejarah
   :buku-pengayaan]}
 {:subject :bahasa-inggris,
  :chapters
  [:persiapan-penilaian-tengah-semester--pts-
   :persiapan-penilaian-akhir-semester--pas-
   :grammar
   :reading-texts
   :expressions]}
 {:subject :biologi,
  :chapters
  [:pertumbuhan-dan-perkembangan
   :klasifikasi-mahluk-hidup
   :animalia
   :mutasi
   :ekologi
   :struktur-dan-fungsi-sel-pada-sistem-pencernaan
   :evolusi
   :ruang-lingkup-biologi
   :virus
   :keanekaragaman-hayati
   :jaringan-hewan
   :sistem-pernafasan
   :pembelahan-sel
   :sistem-peredaran-darah
   :pola-hereditas-manusia
   :struktur-dan-fungsi-tulang--dan-sendi
   :sistem-imun
   :sistem-ekskresi
   :-archaeobacteria-dan-eubacteria--monera-
   :grup-protista
   :persiapan-penilaian-akhir-semester--pas-
   :plantae
   :pola-hereditas
   :metabolisme-termasuk-katabolisme-dan-anabolisme
   :struktur-dan-fungsi-jaringan-tumbuhan
   :fungi-jamur
   :sel
   :persiapan-penilaian-tengah-semester--pts-
   :bioteknologi
   :sistem-reproduksi
   :materi-genetik]}
 {:subject :ekonomi,
  :chapters
  [:pembangunan-dan-pertumbuhan-ekonomi
   :apbn-dan-apbd-dalam-pembangunan-ekonomi
   :bank-sentral--sistem-dan-alat-pembayaran
   :konsep-persamaan-dasar-akuntansi
   :masalah-ekonomi-dalam-sistem-ekonomi
   :bank-sentral--sistem-dan-alat-pembayaran-dalam-perekonomian-indonesia
   :koperasi
   :kebijakan-moneter-dan-kebijakan-fiskal
   :keseimbangan-pasar-dan-struktur-pasar
   :indeks-harga-dan-inflasi
   :kerjasama-international
   :perpajakan-dalam-pembangunan-ekonomi
   :peran-pelaku-ekonomi-dalam-kegiatan-ekonomi
   :akuntansi-sebagai-sistem-informasi
   :perpajakan-teori
   :lembaga-jasa-keuangan-dalam-perekonomian-indonesia
   :persiapan-pas
   :perdagangan-internasional
   :akuntansi-perusahaan-jasa
   :penutupan-siklus-akuntansi-pada-perusahaan-jasa
   :persiapan-pts
   :-ilmu-ekonomi-dan-permasalahannya
   :pasar-modal
   :permasalahan-ketenagakerjaan-dalam-pembangunan-ekonomi
   :pendapatan-nasional
   :konsep-badan-usaha-dalam-perekonomian-indonesia
   :tahap-pelaporan-dan-penutupan-siklus-akuntansi-pada-perusahaan-dagang-soal
   :tahap-pelaporan-dan-penutupan-siklus-akuntansi-pada-perusahaan-dagang-materi
   :penyusunan-siklus-akuntansi-pada-perusahaan-jasa
   :penyusunan-siklus-akuntansi-pada-perusahaan-dagang
   :konsep-manajemen]}
 {:subject :fisika,
  :chapters
  [:fisika-inti
   :usaha-dan-energi
   :kesetimbangan-dan-dinamika-rotasi
   :medan-magnet
   :vektor
   :gelombang-mekanik
   :teori-kinetik-gas
   :listrik-statis
   :gerak-lurus
   :hukum-newton--gravitasi-
   :gelombang-cahaya
   :gelombang-elektromagnetik
   :hukum-newton--gerak-
   :relativitas-khusus
   :fluida-dinamis
   :persiapan-penilaian-akhir-semester--pas-
   :momentum-dan-impuls
   :fisika-kuantum
   :listrik-arus-searah
   :termodinamika
   :gelombang-bunyi
   :fluida-statis
   :pemanasan-global
   :listrik-arus-bolak-balik
   :getaran-harmonis
   :teknologi-digital
   :alat-alat-optik
   :gerak-parabola
   :gerak-melingkar-beraturan
   :besaran-dan-satuan
   :persiapan-penilaian-tengah-semester--pts-
   :elastisitas-dan-hukum-hooke
   :suhu-dan-kalor]}
 {:subject :geografi,
  :chapters
  [:bab-penelitian-geografi
   :konsep-wilayah-dan-tata-ruang
   :kerjasama-negara-maju-dan-berkembang
   :bab-kemampuan-dasar-geografi
   :pemanfaatan-peta--penginndraan-jauh--dan-sistem-informasi-geografis]}
 {:subject :ipa,
  :chapters
  [:cahaya-dan-alat-optik
   :getaran-dan-gelombang-dalam-kehidupan-sehari-hari
   :kemagnetan-dan-pemanfaatannya-dalam-produk-teknologi
   :sistem-pencernaan-manusia
   :lapisan-bumi
   :objek-ipa-dan-pengamatannya
   :interaksi-makhluk-hidup-dengan-lingkungan
   :sistem-reproduksi-pada-manusia
   :sistem-peredaran-darah-manusia
   :kalor-dan-perpindahannya
   :struktur-dan-fungsi-tumbuhan
   :sistem-gerak-pada-tumbuhan
   :klasifikasi-materi-dan-perubahannya
   :pewarisan-sifat-pada-makhluk-hidup
   :usaha-dan-pesawat-sederhana-dalam-kehidupan-sehari-hari
   :energi-dalam-sistem-kehidupan
   :sistem-pernapasan-manusia
   :tekanan-zat-dan-penerapannya-dalam-kehidupan-sehari-hari
   :klasifikasi-mahkluk-hidup
   :sistem-gerak-manusia
   :salah
   :pencemaran-lingkungan
   :konsep-gerak
   :reproduksi-pada-tumbuhan-dan-hewan
   :tata-surya
   :pemanasan-global
   :bioteknologi-pangan
   :sistem-ekskresi-manusia
   :sistem-organisasi-kehidupan-makhluk-hidup
   :suhu-dan-perubahannya
   :kependudukan-dan-lingkungan
   :kelistrikan-dan-teknologi-listrik-di-lingkungan]}
 {:subject :kimia,
  :chapters
  [:identifikasi-senyawa-karbon
   :kimia-unsur
   :kesetimbangan-kimia
   :biomolekul
   :termokimia
   :polimer
   :ikatan-kimia
   :larutan-buffer
   :reaksi-senyawa-karbon
   :struktur-atom
   :senyawa-turunan-alkana
   :larutan-elektrolit-dan-non-elektrolit
   :sistem-periodik
   :hukum-dasar-perhitungan-kimia
   :redoks-dan-elektrokimia
   :sifat-koligatif-larutan
   :persiapan-penilaian-akhir-semester--pas-
   :kelarutan-garam
   :titrasi-asam-basa--pengayaan-
   :laju-reaksi
   :reaksi-redoks
   :stoikiometri
   :benzena
   :hidrolisis-garam
   :larutan-asam-basa
   :pendahuluan-ilmu-kimia
   :stoikiometri-larutan
   :tata-nama-senyawa-dan-persamaan-reaksi
   :hidrokarbon-dan-minyak-bumi
   :isomeri
   :persiapan-penilaian-tengah-semester--pts-
   :sistem-koloid]}
 {:subject :matematika-peminatan,
  :chapters
  [:sistem-persamaan-dua-variabel--linear-kuadrat-dan-kuadrat-kuadrat-
   :grafik--persamaan--dan-pertidaksamaan-eksponen-dan-logaritma
   :irisan-dua-lingkaran
   :sistem-pertidaksamaan-dua-variabel--linear-kuadrat-dan-kuadrat-kuadrat-
   :irisan-kerucut
   :fungsi-trigonometri
   :rumus-jumlah-dan-selisih-sinus-dan-cosinus
   :polinomial
   :skalar-dan-vektor-serta-operasi-aljabar-vektor
   :integral-tentu
   :persiapan-penilaian-akhir-semester--pas-
   :limit-fungsi-trigonometri
   :trigonometri-dan-kalkulus
   :persamaan-trigonometri
   :pertidaksamaan-mutlak--pecahan--dan-irasional
   :statistik-inferensial
   :persiapan-penilaian-tengah-semester--pts-]}
 {:subject :matematika-smp,
  :chapters
  [:fungsi-kuadrat
   :persamaan-dan-pertidaksamaan-linear-satu-variabel
   :teorema-pythagoras
   :kesebangunan-dan-kekongruenan
   :persamaan-kuadrat
   :bilangan
   :segitiga-dan-segiempat
   :peluang
   :relasi-dan-fungsi
   :statistika
   :sudut-dan-garis-singgung-pada-lingkaran
   :perbandingan
   :pola--barisan--dan-deret-bilangan
   :persamaan-dan-sistem-persamaan-linear-dua-variabel
   :operasi-aljabar
   :garis-dan-sudut
   :sistem-koordinat-kartesius
   :himpunan
   :bilangan-berpangkat-dan-bentuk-akar
   :bangun-ruang-sisi-lengkung
   :bangun-ruang-sisi-datar
   :persamaan-garis-lurus
   :transformasi-geometri
   :aritmetika-sosial]}
 {:subject :matematika-wajib,
  :chapters
  [:trigonometri
   :matriks
   :program-linear-dua-variabel
   :limit-fungsi-aljabar
   :data-tunggal
   :-fungsi-linear-persamaan-garis
   :logika-matematika
   :notasi-sigma
   :induksi-matematika
   :barisan-dan-deret
   :menyajikan-data
   :data-berkelompok
   :statistika
   :geometri-bidang-ruang
   :peluang-kejadian-majemuk
   :integral-tak-tentu-fungsi-aljabar
   :fungsi
   :persiapan-penilaian-akhir-semester--pas-
   :sistem-persamaan-linear-tiga-variabel
   :pertidaksamaan-linear-dua-variabel
   :fungsi-rasional
   :kaidah-pencacahan
   :persamaan-dan-pertidaksamaan-linear-nilai-mutlak-satu-variabel
   :persiapan-penilaian-tengah-semester--pts-
   :geometri-bidang-datar
   :turunan-fungsi-aljabar
   :persamaan-dan-fungsi-kuadrat]}
 {:subject :sejarah-indonesia,
  :chapters
  [:konsep-perubahan-dan-keberlanjutan
   :zaman-kerajaan-kerajaan-islam-di-indonesia
   :pendudukan-jepang-di-indonesia
   :bangsa-eropa-di-indonesia
   :perjuangan-melawan-ancaman-pemberontakan
   :cara-berpikir-sejarah
   :perjuangan-mempertahankan-kemerdekaan-dari-ancaman-sekutu-dan-belanda
   :indonesia-era-demokrasi-liberal
   :indonesia-zaman-praaksara--awal-kehidupan-manusia-indonesia
   :persiapan-penilaian-akhir-semester--pas-
   :ekstra-republik-indonesia-serikat
   :indonesia-era-demokrasi-terpimpin
   :perjuangan-nasional-di-indonesia
   :perjuangan-mempertahankan-kemerdekaan
   :proklamasi-kemerdekaan-dan-berdirinya-republik-indonesia
   :indonesia-zaman-hindu-dan-buddha--silang-budaya-lokal-dan-global-tahap-awal
   :perjuangan-daerah-di-indonesia
   :persiapan-penilaian-tengah-semester--pts-]}
 {:subject :sejarah-peminatan,
  :chapters
  [:strategi-pergerakan-nasional
   :manusia-dan-sejarah
   :manusia-indonesia-masa-praaksara
   :persamaan-dan-perbedaan-manusia-purba-dengan-manusia-modern
   :penelitian-ilmu-sejarah
   :pengaruh-perang-dunia-i-dan-ii-terhadap-kehidupan-politik-global
   :sistem-pemerintahan--sosial--ekonomi--dan-kebudayaan-pada-masa-kerajaan-hindu-buddha-di-nusantara
   :hubungan-perkembangan-paham-paham-besar-dunia-dengan-nasionalisme-di-asia
   :peradaban-awal-dunia-dan-kaitannya-dengan-manusia-modern
   :pemikiran-yang-melandasi-terjadinya-revolusi-revolusi-besar-di-dunia
   :perkembangan-iptek-dalam-era-globalisasi
   :kehidupan-manusia-dalam-ruang-dan-waktu-dalam-perubahan-dan-keberlanjutan
   :peristiwa-peristiwa-besar-dunia-1980-2000
   :kehidupan-awal-manusia-nusantara
   :historiografi
   :respons-penduduk-nusantara-terhadap-kolonialisme-eropa
   :peradaban-dunia-kuno-materi
   :cara-berpikir-sejarah
   :penelitian-dan-penulisan-sejarah
   :persiapan-penilaian-akhir-semester--pas-
   :kehidupan-bangsa-indonesia-pada-masa-pendudukan-jepang-1942-1945
   :organisasi-regional-dan-global
   :sistem-pemerintahan--sosial--ekonomi--dan-kebudayaan-pada-masa-kerajaan-islam-di-nusantara
   :berpikir-sejarah
   :sejarah-sebagai-ilmu--kisah--peristiwa--dan-seni
   :persiapan-penilaian-tengah-semester--pts-
   :pemikiran-pemikiran-yang-melatarbelakangi-renaissance--reformasi-gereja--aufklãƒâ¤rung--dan-revolusi-industri]}
 {:subject :sosiologi,
  :chapters
  [:stratifikasi-sosial
   :kebudayaan---multikulturalisme
   :sosialisasi-kepribadian
   :perubahan-sosial
   :perilaku-menyimpang
   :interaksi-sosial
   :mobilitas-sosial
   :persiapan-penilaian-akhir-semester--pas-
   :kelompok-sosial
   :modernisasi---globalisasi
   :lembaga-sosial
   :nilai---norma
   :struktur-sosial-dan-diferensiasi-sosial
   :konflik-dan-integrasi-sosial
   :penelitian-sosial
   :persiapan-penilaian-tengah-semester--pts-
   :sosiologi]})
